.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 24px;
  margin: 1%;
}

.card-container {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  background-color: gray;
  border-radius: 15px;
  border-left: 10px solid #e61b15;
}

.card-titles {
  display: flex;
  flex-direction: column;
}

mat-card-subtitle {
  color: #e61b15;
}

.card-content {
  border-top: 5px solid black;
}