<form [formGroup]="signUpForm" color="primary" (ngSubmit)="onSubmit()" class="login-container">
  <div class="welcome-panel">
    <h1>Bienvenido</h1>
    <p>Regístrate para comenzar tu aventura. 
      <mat-icon>rocket_launch</mat-icon>
    </p>
  </div>
  <mat-card class="form-panel">
    <mat-card-header>
      <mat-card-title>REGISTRARSE</mat-card-title>
    </mat-card-header>

    <mat-card-content #cardContent [class.grid-ready]="isGridReady">

      <!-- USERNAME -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput type="text" name="login" formControlName="login" />
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password"
          (keyup.enter)="onSubmit()" />
        <button type="button" id="buttonHide" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" name="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Primer apellido</mat-label>
        <input matInput type="text" name="surname1" formControlName="surname1" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Segundo apellido</mat-label>
        <input matInput type="text" name="surname2" formControlName="surname2" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Teléfono</mat-label>
        <input matInput type="tel" name="phone" formControlName="phone" />
      </mat-form-field>

      <mat-form-field id="email-field" appearance="fill" class="input-field">
        <mat-label>Correo</mat-label>
        <input matInput type="email" name="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
      <mat-label>LinkedIn</mat-label>
      <input matInput type="url" name="linkedin" formControlName="linkedin" />
    </mat-form-field>

      <!-- MENSAJES DE ERROR -->
      <div class="error-message" *ngIf="signUpError">
        <mat-icon id="errorIcon">error</mat-icon>
        {{ signUpError }}
      </div>

      <!-- BOTÓN REGISTRO -->
      <button type="submit" mat-raised-button id="buttonLogin">
        Registrarse
      </button>

    </mat-card-content>
  </mat-card>
</form>