/* Container for the entire login form and welcome panel */
.login-container {
  display: flex;
  width: 700px;
  max-width: 90vw;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  margin: 7% auto 3% auto;
  color: #F2F2F2;   /* BLANCO CLARO */
  background-color: #3D3D3D;   /*NEGRO CLARO*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* == PANEL WELCOME == */
.welcome-panel {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 3rem 2rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-image: repeating-radial-gradient(circle at 0 100%, transparent 0, #bb1711 100px), repeating-linear-gradient(#e61b15, #BB1711);
}

.welcome-panel h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.welcome-panel p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* == PANEL FORM == */
.form-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2.5rem;
  box-sizing: border-box;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #3D3D3D; /*NEGRO CLARO*/
}

/* == PANEL FORM: INICIAR SERSION == */
mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.input-field {
  width: 100%;
  margin-bottom: 1.5rem;
}


input.mat-input-element {
  padding: 0.5rem 0.75rem;
}

input::placeholder {
  color: #E61B15; /* ROJO MEDIO*/
  opacity: 1;
}

/* == CAMPO CONTRASEÑA == */
#pass-field {
  margin-bottom: 0;
}

#loginBtn {
  background-color: #E61B15; /* ROJO MEDIO*/
  color: #F2F2F2;   /* BLANCO CLARO */
  font-weight: 700;
  border-radius: 15px;
  box-shadow: 0 0 10px #EF5C57; /* ROJO CLARO*/
  transition: background-color 0.3s ease;
  width: 100%;
  height: 45px;
  border: none;
}

#loginBtn:hover {
  background-color: #BB1711; /* ROJO OSCURO*/
  box-shadow: 0 0 10px #E61B15; /* ROJO MEDIO*/
}

.error-message {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  color: #EF5C57; /* ROJO CLARO*/
  font-weight: bold;
}

#errorIcon {
  margin-right: 0.5rem;
}

#hideBtn {
  background-color: #f5f5f5;
  border: none;
}

#buttonRegister {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #C2C2C2; /* GRIS CLARO*/
}

.register-link:hover {
  color: #E61B15; /* ROJO MEDIO*/
  text-decoration: underline;
  cursor: pointer;
}

.register-link {
  color: #E61B15; /* ROJO MEDIO*/
  font-weight: 700;
  cursor: pointer;
}

/* == MOVIL ==*/
@media (max-width: 600px) {
  .login-container {
    flex-direction: column;
    width: 90vw;
    height: auto;
    margin: 7% auto 7% auto;
  }

  /* == PANEL WELCOME == */
  .welcome-panel {
    padding: 2rem 1.5rem;
    border-radius: 15px 15px 0 0;
  }

  /* == PANEL FORM == */
  .form-panel {
    padding: 2rem 1.5rem;
    border-radius: 0 0 15px 15px;
  }
}