<form color="primary" (ngSubmit)="login(user, password)" class="login-container">
  <div class="welcome-panel">
    <h1>Bienvenido</h1>
    <p>Inicia sesión para continuar tu aventura. 🚀</p>
  </div>
  <mat-card class="form-panel">
    <mat-card-header>
      <mat-card-title>INICIAR SESIÓN</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- USERNAME -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput type="text" name="user" [(ngModel)]="user" />
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password"
          (keyup.enter)="login(user, password)" />
        <button type="button" id="buttonHide" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <!-- ERROR MESSAGE -->
      <div *ngIf="loginError" class="error-message">
        {{ loginError }}
      </div>

      <!-- LOGIN BUTTON -->
      <button type="submit" mat-raised-button color="primary" id="buttonLogin">
        Iniciar Sesión
      </button>

      <div id="buttonRegister">
        ¿No tienes una cuenta? <span [routerLink]="['/main/registrarse']" class="register-link" >Regístrate aquí</span>
      </div>
    </mat-card-content>
  </mat-card>
</form>
