<form class="login-container" (ngSubmit)="login(user, password)">
  <div class="welcome-panel">
    <h1>Bienvenido</h1>
    <p>Inicia sesión para continuar tu aventura.
      <mat-icon>rocket_launch</mat-icon>
    </p>
  </div>

  <mat-card class="form-panel">
    <mat-card-header>
      <mat-card-title>INICIAR SESIÓN</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- NOMBRE DE USUARIO -->
      <mat-form-field class="input-field" appearance="fill" >
        <mat-label>Nombre de usuario</mat-label>
        <input matInput type="text" name="user" [(ngModel)]="user" />
      </mat-form-field>

      <!-- CONTRASEÑA -->
      <mat-form-field id="pass-field" class="input-field" appearance="fill" >
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password"
          (keyup.enter)="login(user, password)" />
        <button id="hideBtn" type="button"  matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <!-- MENSAJES DE ERROR -->
      <div class="error-message" *ngIf="loginError">
          <mat-icon id="errorIcon">error</mat-icon>
        {{ loginError }}
      </div>

      <!-- BOTON DE LOGUEO -->
      <button id="loginBtn" type="submit" mat-raised-button >
        Iniciar Sesión
      </button>

      <!-- ENLACE DE REGISTRO -->
      <div id="buttonRegister">
        ¿No tienes una cuenta? <span class="register-link" [routerLink]="['/main/registrarse']">Regístrate aquí</span>
      </div>
    </mat-card-content>
  </mat-card>
</form>