<form color="primary" (ngSubmit)="login(user, password)">
  <mat-card class="form-data">
    <mat-card-header>
      <mat-card-title> <img src="assets/img/icono-cluster.png" alt=""> INICIAR SESION</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <!-- USERNAME -->
      <mat-form-field appearance="fill">
        <mat-label>User name</mat-label>
        <input matInput type="text" name="user" [(ngModel)]="user" />
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password"
          (keyup.enter)="login(user, password)" />
        <button type="button" id="buttonHide" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <!-- ERROR MESSAGE -->
      <div *ngIf="loginError" class="error-message">
        {{ loginError }}
      </div>
      <!-- BOTÓN LOGIN -->
      <button type="submit" mat-raised-button color="primary" id="buttonLogin">
        Login
        <mat-icon>login</mat-icon>
      </button>
      <div id="buttonRegister" [routerLink]="['/main/registrarse']">¿No tienes una cuenta aún? Regístrate</div>
    </mat-card-content>
  </mat-card>
</form>