<mat-toolbar>
  <!-- Botón de sidenav -->
  <button mat-icon-button class="sidenav-toggle" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <a [routerLink]="['/main/ofertas']" class="logo-link">
    <img src="assets/img/logo-clustertic.png" alt="Logo" />
  </a>
  
  <span class="fill-remaining-space"></span>

  <!-- Botones de autenticación -->
  <button mat-button *ngIf="!isLoggedIn()" routerLink="/main/login" class="auth-button">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  
  <button mat-button *ngIf="isLoggedIn()" (click)="logout()" class="auth-button">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-toolbar>

<!-- Banner dinámico -->
<div *ngIf="isLoggedIn()" class="diagonal-section-header">
  <h2>{{ currentSectionTitle }}</h2>
</div>