/* Contenedor general del formulario */
.form-container {
  display: flexbox;
  align-items: center;
  max-width: 50%;
  margin: 5rem auto;
  padding: 3rem; 
  background: #E1E1E0;
}

/* Título del formulario */
h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #333333;
}

/* Estilos de inputs y textarea */
input[type="text"],
textarea {
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  border: 0.15rem solid #E6B5B2;
  font-size: 16px;
  transition: border-color 0.3s ease;
  resize: vertical;
}

input[type="text"]:focus,
textarea:focus {
  /* border-color: #3f51b5; */
  outline: none;
}

/* Placeholder color */
::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Botón publicar */
.btn-publicar {
  align-items: center;
  width: 85%;
  margin-left: 2.75rem;
  padding: 14px;
  background-color: #E61B15;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(63, 81, 181, 0.3);
}

.btn-publicar:hover {
  background-color: #333333;
  box-shadow: 0 6px 18px #E61B15(48, 63, 159, 0.5);
}

/* Etiquetas */
label {
  font-weight: 600;
  color: #444;
  margin-left: 1.5rem;
  margin-bottom: 6px;
  display: block;
}

/* Para el textarea un poco más alto */
textarea {
  min-height: 120px;
}
