<div class="form-container">
  <h2>Publicar Oferta</h2>
  <form [formGroup]="ofertaForm" (ngSubmit)="onSubmit()">

    <label for="titulo">Título del puesto</label>
    <input id="titulo" type="text" formControlName="titulo" placeholder="Ej. Desarrollador Frontend" />

    <label for="descripcion">Descripción de la oferta</label>
    <textarea id="descripcion" formControlName="descripcion" placeholder="Detalles del puesto"></textarea>

    <button type="submit" class="btn-publicar">Publicar</button>

  </form>
</div>
