.form-container {
  display: flex;
  justify-content: center;
  /* Removed vertical centering to reduce scroll */
  /* align-items: center; */
  margin: 20px 0 0 0; /* Added top margin */
}

form {
  width: 90%;
  max-width: 400px;
  background-color: #3d3d3d; /*NEGRO CLARO*/
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 0 20px 0; /* Added bottom margin */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f2f2f2;
  font-size: 1.5rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  background-color: #e61b15;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #bb1711; /* ROJO OSCURO*/
}

.success-message {
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
}

.error-message {
  color: #dc3545;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
}

.warn-limit {
  color: #e61b15;
  font-weight: bold;
}

mat-hint {
  transition: color 0.3s ease;
  color: #e61b15;
  font-size: 0.8rem;
}

textarea {
  resize: none !important;
  min-height: 8rem !important; /* Reduced height */
  height: 8rem !important;
  overflow-y: auto;
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
  form {
    width: 90vw; /* Ancho más amplio en móviles */
  }
}

.tech-labels-section {
  margin: 15px 0;
}
