* {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #D6D6D6; /* BLANCO MEDIO */
}
 
.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}
 