$m2-primary: ( /* Color primario: rojo */
    50 : #fff1f1, 
    100 : #ffe1e0,
    200 : #ffc8c6, 
    300 : #ffa19e,
    400 : #ff6b67, 
    500 : #fc3d37, 
    600 : #e61b15, 
    700 : #c51510, 
    800 : #a31511,
    900 : #730E0B,
    A100 : #e61b15, 
    A200 : #e61b15,
    A400 : #e61b15,
    A700 : #e61b15,
    contrast: ( /*Color del texto*/
        50 : #1f1f1f,
        100 : #3d3d3d,
        200 : #454545,
        300 : #4f4f4f,
        400 : #5d5d5d,
        500 : #6d6d6d, 
        600 : #888888,
        700 : #b0b0b0,
        800 : #d1d1d1,
        900 : #e7e7e7,
        A100 : #e7e7e7,
        A200 : #e7e7e7,
        A400 : #e7e7e7,
        A700 : #e7e7e7,
    )
);

$m2-accent: (
    50 : #f6f6f6,
    100 : #e7e7e7,
    200 : #d1d1d1,
    300 : #b0b0b0,
    400 : #888888,
    500 : #6d6d6d,
    600 : #5d5d5d,
    700 : #4f4f4f,
    800 : #454545,
    900 : #3d3d3d,
    A100 : #1f1f1f,
    A200 : #1f1f1f,
    A400 : #1f1f1f,
    A700 : #1f1f1f,
    contrast: (
        50 : #1f1f1f,
        100 : #3d3d3d,
        200 : #454545,
        300 : #4f4f4f,
        400 : #5d5d5d,
        500 : #6d6d6d,
        600 : #888888,
        700 : #b0b0b0,
        800 : #d1d1d1,
        900 : #e7e7e7,
        A100 : #f6f6f6,
        A200 : #f6f6f6,
        A400 : #f6f6f6,
        A700 : #f6f6f6,
    )
);

$m2-error: (
    50 : #fff6f5,
    100 : #ffe9e6,
    200 : #ffdad5,
    300 : #ffcbc4,
    400 : #ffbfb8,
    500 : #ffb4ab,
    600 : #ffada4,
    700 : #ffa49a,
    800 : #ff9c91,
    900 : #ff8c80,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);