$m2-primary: ( /* Color primario: rojo */
    50 : #F38D8A, 
    100 : #ED5450,
    200 : #E82A24, 
    300 : #D8403B,
    400 : #E01C15, 
    500 : #E61B15, 
    600 : #D81A14, 
    700 : #CA1813, 
    800 : #AD1510,
    900 : #730E0B,
    A100 : #E61B15, 
    A200 : #E61B15,
    A400 : #E61B15,
    A700 : #E61B15,
    contrast: ( /*Color del texto*/
        50 : #333333,
        100 : #333333,
        200 : #333333,
        300 : #333333,
        400 : #333333,
        500 : #333333, 
        600 : #E1E1E0,
        700 : #E1E1E0,
        800 : #E1E1E0,
        900 : #E1E1E0,
        A100 : #E1E1E0,
        A200 : #E1E1E0,
        A400 : #E1E1E0,
        A700 : #E1E1E0,
    )
);

$m2-accent: (
    50 : #f9f7ff,
    100 : #efecff,
    200 : #e4dfff,
    300 : #d9d2ff,
    400 : #d1c8ff,
    500 : #333333,
    600 : #c3b8ff,
    700 : #bcafff,
    800 : #b5a7ff,
    900 : #a999ff,
    A100 : #333333,
    A200 : #333333,
    A400 : #333333,
    A700 : #333333,
    contrast: (
        50 : #E1E1E0,
        100 : #E1E1E0,
        200 : #E1E1E0,
        300 : #E1E1E0,
        400 : #E1E1E0,
        500 : #E1E1E0,
        600 : #E1E1E0,
        700 : #E1E1E0,
        800 : #E1E1E0,
        900 : #E1E1E0,
        A100 : #E1E1E0,
        A200 : #E1E1E0,
        A400 : #E1E1E0,
        A700 : #E1E1E0,
    )
);

$m2-error: (
    50 : #fff6f5,
    100 : #ffe9e6,
    200 : #ffdad5,
    300 : #ffcbc4,
    400 : #ffbfb8,
    500 : #ffb4ab,
    600 : #ffada4,
    700 : #ffa49a,
    800 : #ff9c91,
    900 : #ff8c80,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);