body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el snackbar de exito (verde) */
.snackbar-success.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #3fcc33;
  --mdc-snackbar-supporting-text-color: #e6fcd6;
  --mat-mdc-snack-bar-button-color: #e6fcd6;
}

/* Estilos para el snackbar de error (rojo) */
.snackbar-failed.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #d62032;
  --mdc-snackbar-supporting-text-color: #fcddd1;
  --mat-mdc-snack-bar-button-color: #fcddd1;
}

/* Estilos para el snackbar informativo (azul) */
.snackbar-info.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #006ac6;
  --mdc-snackbar-supporting-text-color: #c9effc;
  --mat-mdc-snack-bar-button-color: #c9effc;
}

/* Estilos para el snackbar aviso (amarillo) */
.snackbar-warn.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #ba7705;
  --mdc-snackbar-supporting-text-color: #fbf0ca;
  --mat-mdc-snack-bar-button-color: #fbf0ca;
}
