
<!-- Diseño de tarjetas -->
<div class="offers-container" *ngIf="offers && offers.length > 0; else noOffers">
  <div class="cards-grid">
    <mat-card class="offer-card" *ngFor="let offer of offers">
      <mat-card-header>
        <div class="header-content">
          <mat-card-title>{{ offer.title }}</mat-card-title>
          <mat-card-subtitle>Empresa: <span class="company-name">{{ offer.companyName || 'Sin nombre' }}</span></mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p class="offer-description">{{ offer.offerDescription }}</p>
      </mat-card-content>

      <mat-card-actions class="card-actions">
        <!-- <button mat-icon-button matTooltip="Ver detalles de la oferta" class="tooltip-button">
          <mat-icon id="info">info</mat-icon>
        </button> -->
        <button *ngIf="companyName==''" mat-icon-button matTooltip="Inscribirse a la oferta" (click)="applyOffer(offer.id)" class="tooltip-button">
          <mat-icon id="apply">work</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- Mensaje cuando no hay ofertas disponibles -->
<ng-template #noOffers>
  <div class="no-offers">
    <mat-icon>info</mat-icon>
    <p>No hay ofertas disponibles en este momento</p>
  </div>
</ng-template>
